.container {display: inline-block;}

.container2 {display: inline-block;}

.text {
	color: 	#000033;
	font-size: 4vw;
	letter-spacing: 5px;
	font-family: monospace;
	border-right: 5px solid;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	animation:
	typing 2s steps(24),
	cursor .4s step-end infinite alternate;
	overflow: hidden;
	margin-left: 50px;
}


@keyframes cursor {
	50%{border-color: transparent}
}

@keyframes typing {
	from{width: 0}
	
}
@keyframes slideinright {
	from{
		transform: translateX(2100px);
		
	}
	
	to{
		transform: translateX(0);
		
	}
}

@keyframes slideinleft {
	from{
		transform: translateX(-1900px);
		
	}
	
	to{
		transform: translateX(0);
		
	}
}

@keyframes fadein {
	from{
		opacity: 0%;
	}
	
	to{
		opacity: 100%;
	}
	
}

.heading-1{
	animation-name: slideinleft;
	animation-timing-function: ease-in-out;
	text-align: right;
	font-family: monospace;
	font-size: 1.5vw;
	animation-delay: 2s;
	animation-fill-mode: backwards;
	animation-duration: 2s;
	color: #000033;
    text-align: left;
	margin-left: 80px;
}

.heading-2{
	animation-name: slideinright;
	animation-timing-function: ease-in-out;
	text-align: right;
	font-family: monospace;
	font-size: 1.5vw;
	animation-delay: 4s;
	animation-fill-mode: backwards;
	animation-duration: 2s;
	color: #000033;
	text-align: left;
	margin-left: 80px;
}

.heading-3{
	animation-name: slideinleft;
	animation-timing-function: ease-in-out;
	text-align: right;
	font-family: monospace;
	font-size: 1.5vw;
	animation-delay: 6s;
	animation-fill-mode: backwards;
	animation-duration: 2s;
	color: #000033;
	text-align: left;
	margin-left: 80px;
}

.heading-4{
	animation-name: slideinright;
	animation-timing-function: ease-in-out;
	text-align: right;
	font-family: monospace;
	font-size: 1.5vw;
	animation-delay: 8s;
	animation-fill-mode: backwards;
	animation-duration: 2s;
	color: #000033;
    text-align: left;
	margin-left: 80px;
}

.heading-5{
	animation-name: fadein;
	animation-timing-function: ease-in-out;
	text-align: right;
	font-family: monospace;
	font-size: 2vw;
	animation-delay: 10s;
	animation-fill-mode: backwards;
	animation-duration: 3s;
	color: #000033;
    text-align: center;
	
}


.btn{
	font-size: 2vw;
	font-weight: 700;
	font-family: monospace;
	padding: 1.5vw 2vw;
	color: #000033;
	background-color: #e6e6ff;
	border: 10px solid #000033;
	border-radius: 5px;
	animation-name: slideinbottom;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 11s;
	animation-fill-mode: backwards;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
    margin-top: 100px;
}

@keyframes slideinbottom {
	from{
		transform: translateY(1200px);
		
	}
	
	to{
		transform: translateY(0);
		
	}
}

.btn:hover{
	transform: translateY(-20px)
	
}

.btn2:hover{
	transform: translateY(-20px)
	
}

.btn3:hover{
	transform: translateY(-20px)
	
}

.btn:active {
	color:  #9999ff;
	
}